h1{
	background: blue;
	font-size: 30px;
}
h2{
	background: pink;
	border-style: ridge;
	font-weight: lighter;
}
h3{
	background: yellow;
	font-style: italic;
}
p{
	background: aqua;
	color: white;
	text-align: center;
}